@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Noto+Naskh+Arabic:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: "Noto Naskh Arabic", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.container {
    max-width: 90%;
    max-height: calc(100vh - 100px);
    margin:20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
	overflow: hidden;
	position: relative;
}

main {
    text-align: center;
}

.slide {
    display: none;
    width: 90%;
    margin: 0 auto;
    height: calc(100vh - 100px);
}

.slide.active {
    display: block;
}

footer {
    display: none;
    align-items: center;
    height: 60px;
    position: fixed;
    width: 90%;
    bottom: 12px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    border-radius: 15px;
}

footer p {
    width: 100%;
    margin: 0;
    margin-top: 3px;
    display: flex;
    align-items: center;
}


.date {
    float: left;
    margin-right: auto;
    padding-left: 20px;
}

.fTitle {
    font-weight: 900;
    text-align: center;
}

.pageNumber {
    float: right;
    margin-left: auto;
    padding-right: 20px;
}

/* --------------------------------- Content ------------------------- */

.titre {
    text-align: right;
}

.slide-title {
    text-align: center;
}

.slide-content {
    text-align: right;
}

.slide-list {
    text-align: right;
    direction: rtl;
   list-style-position: inside;
}

.slide-titre {
    text-align: right;
}

.main-title {
    font-size: 60px;
    font-weight: 900;
}


.math {
    white-space: nowrap;
    padding: 0;
}

/* Style for advantages and disadvantages boxes */
.slide-box-content {
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 90%;
}

.boxes-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.advantages-box, .disadvantages-box {
    color: white;
    border: 2px solid;
    border-radius: 15px;
    padding: 20px;
    margin-right: 10px;
    vertical-align: top;
    display: inline-block;
    width: calc(50% - 10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    flex-grow: 1;
    height: 100%;
}

.advantages-box {
    background-color: #4CAF50;

}

.disadvantages-box {
    background-color: #ee675d;
}

/* --------------- table --------------- */
.comparison-table {
    margin: 20px auto;
    width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td:first-child {
    font-weight: bold;
    background-color: #f2f2f2;
}

.helper {
    font-size: smaller;
}

.arrow {
    font-size: 40px;
    color: rgb(49, 49, 49);
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.previous {
    left: 1%;
}
.next {
    right: 1%;
}
/* -------------------------------------------------------- */
/*-----------------------page 1-----------------------------*/
.theme {
	position: relative;
	left: -770px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
}


div.shape {
	position: absolute;
	left: 690px;
	top: 50%;
	transform: translateY(-50%);
}

div.image {
	left: 708px;
	top: 8px;
}

img.bg {
	width: 600px;
}

img.photo {
	width: 560px;
	/* mask: url("images/page-one/Artboard 2.png");
	mask-repeat: no-repeat;
	mask-size: 560px;
	mask-position: -23px -8px; */
}


.content {
	width: 45%;
	position: absolute;
	right: 75px;
	top: 50%;
	transform: translateY(-50%);


    color: white;
    text-shadow:2px 2px 5px black;
}

/* ------------------------------------- page seasons -------------------------------------  */
.right-shape {
	width: 530px;
	position: absolute;
	top: 0;
	right: -40px;
	z-index: 5;
}

.mask {
	position: absolute;
	top: 50px;
	width: 400px;
	right: 45px;
}

.circle{
	position: absolute;
	width: 250px;
	top: 30px;
	right: 230px;
	z-index: 5;
}


.left-shape {
	position: absolute;
	width: 120px;
	top: 200px;
	left: -20px;
}


.season-content {
    text-align: left;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 800px;
	right: 430px;
}

/* -------------------------------------------------------------------------------------------------------- */
div.header {
	position: absolute;
	top: -145px;
	right: -20px;
	transform: rotate(8deg);
}


.information-content {
    text-align: left;
    position: absolute;
    top: 85px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

/* ------------------------------------------------------------------------------------------------------- */
.icon {
    width: 150px;
    position: absolute;
    top: 40px;
    right: 40px;
}

div.background {
    margin-top: -20px;
    margin-left: -90px;
    width: 1385px;
    height: 600px;
    background-image: url(./images/main-BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.95;
}



span{
    font-size: 16px;
    font-weight: bold;
}

p {
    white-space: pre-line;
}

li::marker {
    color: rgb(0, 208, 255);
    font-size: 20px;
}

.main-brain-mask {
    position: absolute;
    z-index: 5;
    top: 25px;
    left: -20px;
    width: 710px;

    mask-image: url(./images/page-one/mask-brain.png);
    mask-repeat: no-repeat;
	mask-size: 561px;
	mask-position: 43px -15px;

    -webkit-mask-image: url(./images/page-one/mask-brain.png);
    -webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 561px;
	-webkit-mask-position: 43px -15px;
} 


.application-mask{
    position: absolute;
    top: -100px;
    right: -400px;
    width: 420px;
    opacity: 0.9;

    mask-image: url(./images/season-topic/season-main-mask.png);
    mask-repeat: no-repeat;
	mask-size: 400px;
	mask-position: 0px -13px;

    -webkit-mask-image: url(./images/season-topic/season-main-mask.png);
    -webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 400px;
	-webkit-mask-position: 0px -13px;
}

.advantage-mask {
    position: absolute;
    top: -120px;
    right: -450px;
    width: 750px;
    opacity: 0.9;

    mask-image: url(./images/season-topic/season-main-mask.png);
    mask-repeat: no-repeat;
	mask-size: 400px;
	mask-position: 280px -13px;

    -webkit-mask-image: url(./images/season-topic/season-main-mask.png);
    -webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 400px;
	-webkit-mask-position: 280px -13px;
}


.basic-concept-mask{
    position: absolute;
    top: 65px;
    right: -460px;
    width: 770px;
    opacity: 0.9;

    mask-image: url(./images/season-topic/season-main-mask.png);
    mask-repeat: no-repeat;
	mask-size: 400px;
	mask-position: 290px -13px;

    -webkit-mask-image: url(./images/season-topic/season-main-mask.png);
    -webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 400px;
	-webkit-mask-position: 290px -13px;
}


.physic-mask{
    position: absolute;
    top: -150px;
    right: -600px;
    width: 800px;
    opacity: 0.9;

    mask-image: url(./images/season-topic/season-main-mask.png);
    mask-repeat: no-repeat;
	mask-size: 400px;
	mask-position: 180px -13px;

    -webkit-mask-image: url(./images/season-topic/season-main-mask.png);
    -webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 400px;
	-webkit-mask-position: 180px -13px;
}


.slice-timing-mask{
    position: absolute;
    top: -10px;
    right: -430px;
    width: 500px;
    opacity: 0.9;

    mask-image: url(./images/season-topic/season-main-mask.png);
    mask-repeat: no-repeat;
	mask-size: 400px;
	mask-position: 45px 38px;

    -webkit-mask-image: url(./images/season-topic/season-main-mask.png);
    -webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 400px;
	-webkit-mask-position: 45px 38px;
}

.data-procesing-mask{
    position: absolute;
    top: -120px;
    right: -440px;
    width: 450px;
    opacity: 0.9;

    mask-image: url(./images/season-topic/season-main-mask.png);
    mask-repeat: no-repeat;
	mask-size: 400px;
	mask-position: -10px -10px;

    -webkit-mask-image: url(./images/season-topic/season-main-mask.png);
    -webkit-mask-repeat: no-repeat;
	-webkit-mask-size: 400px;
	-webkit-mask-position: -10px -10px;
}

.statistical-mask{
    position: absolute;
    top: -140px;
    right: -440px;
    width: 570px;

    mask-image: url(./images/season-topic/season-main-mask.png);
    mask-repeat: no-repeat;
	mask-size: 400px;
	mask-position: 100px -10px;
}